#content-home {
  margin-top: 2rem;
  padding: 0 1rem;
  .description {
    font-size: 0.90rem;
    color: #f5f5f5f5;
    span {
      border-left: solid 16px #e7a11ef5;
      padding-left: 0.40rem;
      border-radius: 1rem;
    }
  }
}
